@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@font-face {
  font-family: "ginger-regular";
  src: url("../fonts/ginger-regular.eot");
  src: url("../fonts/ginger-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ginger-regular.woff") format("woff"),
    url("../fonts/ginger-regular.ttf") format("truetype"),
    url("../fonts/ginger-regular.svg#ginger-bold") format("svg");
  font-weight: normal;
  font-style: normal;
  /* src: url(../../assets/fonts/ginger-regular.woff); */
}
@font-face {
  font-family: "ginger-bold";
  src: url(../fonts/ginger-bold.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sectra";
  src: url(../fonts/GT-Sectra-Book.woff);
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "ginger-regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7eeed;
}

h1,
h2 {
  font-family: "ginger-bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.animation {
  width: 100px;
  height: 100px;
  -webkit-animation-name: place;
  -webkit-animation-duration: 5s;
  animation-name: place;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.animation-inverse {
  width: 100px;
  height: 100px;
  -webkit-animation-name: place-inverse;
  -webkit-animation-duration: 5s;
  animation-name: place-inverse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes place {
  0% {
    top: 0px;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}
@keyframes place-inverse {
  0% {
    top: -20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}

.bg-gr-primary {
  background: rgb(65, 88, 208);
  background: linear-gradient(
    43deg,
    rgba(65, 88, 208, 1) 0%,
    rgba(200, 80, 192, 1) 50%,
    rgba(255, 204, 112, 1) 100%
  );
}
.bg-gr-secondary {
  background: linear-gradient(to bottom, #21ecff 0, #2cc6ff 99%);
}
.bg-gr-dark {
  background-color: #000000;
  background-image: linear-gradient(0deg, #1b223a 0%, #2c3e50 74%);
}
.bg-gr-blue {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 83, 252, 1) 100%
  );
}
.main-color {
  background-color: #e7eeed;
}
hr.thin {
  border: 0px;
  border-top: 0.01rem solid #9ca3af;
  box-shadow: 0px -2px 8px #374151;
}

/*! locomotive-scroll v4.1.0 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  white-space: nowrap;
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

#card button {
  transition: all 0.5s ease-in-out;
  mix-blend-mode: hard-light;
  outline: 0;
}

#card:hover button {
  transform: scale(15);
  /* opacity: .7; */
}

#card:hover .rounded-icon {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.rounded-icon {
  opacity: 0;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.rounded-icon-1 {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.rounded-icon-2 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.rounded-icon-3 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.bg-profile {
  background-image: url(../images/bg-profile.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.custom-file-input {
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: '+';
  display: block;
  margin-top: 1.5rem;
  text-align: center;
  width: 100%;
  color: #f1f1f1;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 3rem;
}
.custom-file-input:hover::before {
  border-color: none;
}
.custom-file-input:active {
  outline: none;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
